.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;

  @media screen and (min-width: 768px) {
    justify-content: space-evenly;
  }

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }

  @media screen and (max-width: 1199px) {
    gap: 60px;
  }
}

.footer__location {
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 28px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__logo--color {
  color: var(--second-color);
}

.footer__socials {
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer__socials-title {
  margin-bottom: 20px;
  @include font(700, 14px, 16px, 0.03em, var(--second-color));
  text-transform: uppercase;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__socials-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__icon-link-social {
  fill: #ffffff;
}
