.benefit__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefit__title {
  margin-bottom: 10px;
  @include font(700, 14px, 16px, 0.03em, var(--header-color));
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
