.work {
  padding: 0 0 94px 0;
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.work__title {
  margin-bottom: 50px;
  @include font(700, 36px, 42px, 0.03em, var(--header-color));
  text-align: center;
}

.work__list {
  display: flex;
}

.work__item {
  width: calc((100% - 60px) / 3);

  &:not(:last-child) {
    margin-right: 30px;
  }
}
